$yellow: #FFFFB2;
$blue: #B3B3FF;
$border: 2px dashed black;



@mixin flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#stickItHere {
	@include flex;
}

.bordered {
	border: $border;
}

 @import "card";